@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");
/* ScrollBar */

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

footer {
  text-align: center;
}

/* Variables */
$primary-color: #e44c15;
$border: solid 1px #cfcecc;
$secondary-color: rgb(124, 124, 124);

/* Mixins */
@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin backgroundImgCenterNoRepeat() {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin button($fontSize) {
  border-radius: 0.5rem;
  border: 1px solid $primary-color;
  margin: 1rem 0;
  padding: 0.5rem;
  font-size: $fontSize;
  font-weight: 400;
  background: white;
  transition: 0.15s all ease-in-out;
}

/* Header */
#home-header {
  background: $primary-color;
  display: flex;
  justify-content: center;
  height: 100px;

  #topHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .logo {
      @include backgroundImgCenterNoRepeat();
      background-image: url(../img/logo.png);
      background-size: contain;
      width: 150px;
    }

    #sign-up {
      @include flexCenter();
      width: 50%;
      justify-content: flex-end;
      margin-right: 0.5rem;

      a {
        font-size: 1rem;
        color: white;
        text-decoration: none;
        margin-left: 1rem;
      }
    }
  }
}

/* Nav */
#nav {
  margin-top: 0.5rem;

  .navbar {
    width: 100%;
    background: white !important;
    padding: 0 0.5rem;

    .navbar-nav {
      width: 100%;

      .nav-item {
        a {
          font-size: 1.25rem;
          transition: 0.15s all;
          padding-bottom: 0;
        }

        &:after {
          content: "";
          display: block;
          width: 0;
          height: 3px;
          background: #e44c15;
          transition: width 0.3s;
        }

        &:hover:after {
          width: 100%;
        }

        &:nth-of-type(1) {
          margin-right: 1rem;
        }
      }

      .active {
        &:after {
          width: 100%;
        }
      }
    }

    form {
      display: flex;
      width: 100%;
      justify-content: flex-start;

      button {
        color: $primary-color;
        border-color: $primary-color;

        &:hover {
          color: white;
          background: $primary-color;
        }

        &:focus {
          box-shadow: none;
        }
      }

      input {
        margin-right: 0.5rem;
        width: 50%;

        &:focus {
          box-shadow: 0 0 0 0.2rem rgba(228, 76, 21, 0.25);
          border-color: $primary-color;
        }
      }
    }
  }

  i {
    color: $primary-color;
    font-size: 1.5rem;
  }
}

/* Menu Page Navigation */
#menu-nav {
  margin-top: 0.5rem;
  text-align: center;
  width: 100%;
  background: white;
  z-index: 9999;

  a {
    margin-right: 0.15rem;
    color: $secondary-color;
    transition: 0.15s all ease-in-out;
    display: inline-block;
    height: 100% !important;
    font-size: 0.8rem;

    &:hover {
      color: black;
      text-decoration: none;
    }

    &:after {
      content: "";
      display: block;
      width: 0;
      height: 3px;
      background: #e44c15;
      transition: width 0.3s;
    }

    &:hover:after {
      width: 100%;
    }
  }

  .active-menu-nav {
    color: black;

    &:after {
      width: 100%;
    }
  }

  #nav-cart {
    display: none;
    float: right;

    span {
      margin: 0 1rem 1rem 0;
      color: $secondary-color;
      transition: 0.15s all ease-in-out;

      &:hover {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

.scrolled {
  position: fixed;
  top: 0;
  margin-top: 0 !important;
  padding: 0.5rem 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}

/* Cart */
.cart-info {
  border: 1px solid $primary-color;
  border-radius: 0.25rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  transition: 0.15s all ease-in-out;

  &:hover {
    background: $primary-color;
    color: white;
  }

  span {
    .fa-shopping-cart {
      transition: 0.15s all ease-in-out;
      margin-right: 1rem;
    }
  }
}

.cart {
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  transition: 0.3s all ease-in-out;
  background: rgb(211, 211, 211);
  width: 0;
  overflow: auto;
  z-index: 10000;
  display: flex;
  flex-direction: column;

  .cart-total-container {
    h5 {
      #discountAmt {
        font-weight: normal;
        font-size: 1rem;
      }
    }
  }

  h3 {
    position: absolute;
    right: 0;
    top: 0;
    margin: 1rem 1rem 0 0;
    font-size: 1.5rem;
    transition: 0.15s all ease-in-out;

    &:hover {
      color: red;
      cursor: pointer;
    }
  }

  .cart-item-remove {
    height: 0;

    i {
      &:hover {
        color: red;
      }
    }
  }
}

.show-cart {
  width: 100%;
  padding: 2rem 1.5rem;
}

.cart-item {
  .item-text {
    .cart-item-title {
      text-transform: capitalize;
    }

    #cart-toppings {
      margin-bottom: 0;
      font-size: 0.85rem;
    }
  }
}

/* Img Header */
.jumbotron {
  padding: 0;
  width: 100%;
  min-height: 400px;
  background-image: url(../img/header.jpg);
  @include backgroundImgCenterNoRepeat();
  display: flex;
  margin: 0.5rem 0 0 0;
  flex-direction: column;
  justify-content: center;

  .container {
    width: 100%;
    height: 100%;
    color: white;
    transform: rotate(-5deg);

    div {
      background: $primary-color;
      transform: skew(45deg);
      width: 50%;
      text-align: center;
      animation: slideIn 0.5s ease;
      opacity: 0;

      &:nth-child(2) {
        margin-top: 1rem;
        animation-delay: 0.4s;
      }

      &:nth-child(3) {
        margin-top: 1rem;
        animation-delay: 0.9s;
      }

      h4 {
        transform: skew(-45deg);
        width: auto;
      }
    }
  }
}

@keyframes slideIn {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-300px) skew(45deg);
  }
  80% {
    transform: translateX(25px) skew(45deg);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0px) skew(45deg);
  }
}

/* Home Page Deal Section */
#deals {
  width: 100%;
  @include flexCenter();
  margin: 0 0 0.5rem 0;

  #deal-labels {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1rem 0 0 0;
  }

  h1 {
    margin: 0;
    text-transform: uppercase;
  }

  a {
    font-weight: 500;
    text-decoration: none;
  }
}

#deals-preview {
  min-height: 1250px;
  max-height: 1500px;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-gap: 2rem;
  grid-template-areas:
    "deal1"
    "deal2"
    "deal3";
  margin-bottom: 1rem;

  .deal-img {
    @include backgroundImgCenterNoRepeat();
    height: 40%;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  #deal1 {
    grid-area: deal1;

    .deal-img {
      background-image: url(../img/cheese-pizza.jpg);
    }
  }

  #deal2 {
    grid-area: deal2;

    .deal-img {
      background-image: url(../img/brownie.jpg);
    }
  }

  #deal3 {
    grid-area: deal3;

    .deal-img {
      display: flex;
      justify-content: space-evenly;

      #salad {
        width: 50%;
        height: 100%;
        background-image: url(../img/spinach-salad.jpg);
        @include backgroundImgCenterNoRepeat();
        border-radius: 0.5rem 0 0 0;
      }

      #breadsticks {
        width: 50%;
        height: 100%;
        background-image: url(../img/breadsticks.jpg);
        @include backgroundImgCenterNoRepeat();
        border-radius: 0 0.5rem 0 0;
      }
    }
  }

  .deal-home {
    border: $border;
    border-radius: 0.5rem;
  }

  .deal-name {
    margin: 0.5rem 0 0 0;
    text-align: center;
    width: 100%;
    height: 50%;

    h4 {
      margin-bottom: 0;
      text-transform: uppercase;
    }

    p {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 0.5rem;
    }
  }

  .deal-info {
    @include flexCenter();
    flex-direction: column;
    justify-content: space-between;
    height: 60%;

    .deal-btn {
      width: 100%;
      height: 50%;
      @include flexCenter();

      button {
        @include button(1.25rem);
        width: 50%;

        &:hover {
          cursor: pointer;
          background: $primary-color;
        }

        &:hover a {
          color: white;
        }

        a {
          text-decoration: none;
          color: black;
          width: 100%;
          height: 100%;
          transition: 0.15s all ease-in-out;
          text-align: center;
        }
      }
    }
  }
}

/* Home Page Menu Section */
#menus {
  width: 100%;
  @include flexCenter();

  #menu-labels {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    h1 {
      text-transform: uppercase;
    }
  }
}

#menus-preview {
  min-height: 1000px;
  max-height: 1500px;
  width: 100%;
  margin-bottom: 4rem;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 2rem;
  grid-template-areas:
    "menu1"
    "menu2"
    "menu3"
    "menu4"
    "menu5"
    "menu6";

  .menu-hover {
    transition: 0.15s all ease-in-out;
    filter: brightness(70%);
  }

  .menu-home-img {
    @include backgroundImgCenterNoRepeat();
  }

  #menu1 {
    grid-area: menu1;
    background-image: url(../img/pizza-home2.jpg);
  }

  #menu2 {
    grid-area: menu2;
    background-image: url(../img/wings-home.jpg);
  }

  #menu3 {
    grid-area: menu3;
    background-image: url(../img/burger-home.jpg);
  }

  #menu4 {
    grid-area: menu4;
    background-image: url(../img/side-home.jpg);
  }

  #menu5 {
    grid-area: menu5;
    background-image: url(../img/dessert-home.jpg);
  }

  #menu6 {
    grid-area: menu6;
    background-image: url(../img/drink-home.jpg);
  }

  h3 {
    color: white;
    margin: 0.5rem 1rem 0 0;
    height: 100%;
    width: 100%;
    text-shadow: 1px 1px 2px black;
  }

  div {
    border-radius: 0.5rem;
    @include flexCenter();
  }

  a {
    text-decoration: none;
    height: 100%;
    width: 100%;
  }
}

/* Deal Page */
#deals-page {
  min-height: 2500px;
  max-height: 3000px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 1rem;
  grid-template-areas:
    "deal1"
    "deal2"
    "deal3"
    "deal4"
    "deal5"
    "deal6";
  margin-bottom: 1rem;

  .deal-img {
    @include backgroundImgCenterNoRepeat();
    height: 35%;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  #deal1 {
    grid-area: deal1;

    .deal-img {
      background-image: url(../img/cheese-pizza.jpg);
    }
  }

  #deal2 {
    grid-area: deal2;

    .deal-img {
      background-image: url(../img/brownie.jpg);
    }
  }

  #deal3 {
    grid-area: deal3;

    .deal-img {
      display: flex;
      justify-content: space-evenly;
      #salad {
        width: 50%;
        height: 100%;
        background-image: url(../img/spinach-salad.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 0.5rem 0 0 0;
      }

      #breadsticks {
        width: 50%;
        height: 100%;
        background-image: url(../img/breadsticks.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 0 0.5rem 0 0;
      }
    }
  }

  #deal4 {
    .deal-img {
      background-image: url(../img/coke-deal.jpg);
    }
  }

  #deal5 {
    .deal-img {
      display: flex;
      justify-content: space-evenly;
      #supreme {
        width: 50%;
        height: 100%;
        background-image: url(../img/supreme-pizza.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 0.5rem 0 0 0;
      }

      #side {
        width: 50%;
        height: 100%;
        background-image: url(../img/side-home.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 0 0.5rem 0 0;
      }
    }
  }

  #deal6 {
    .deal-img {
      display: flex;
      justify-content: space-evenly;
      #pizza {
        width: 33.3%;
        height: 100%;
        background-image: url(../img/cheese-pizza.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 0.5rem 0 0 0;
      }

      #pasta {
        width: 33.3%;
        height: 100%;
        background-image: url(../img/macncheese.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      #salad {
        width: 33.3%;
        height: 100%;
        background-image: url(../img/spinach-salad.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 0 0.5rem 0 0;
      }
    }
  }

  .deal-home {
    border: $border;
    border-radius: 0.5rem;
  }

  .deal-name {
    margin-top: 0.5rem;
    text-align: center;
    @include flexCenter();
    flex-direction: column;
    justify-content: flex-start;
    height: 50%;

    h4 {
      margin-bottom: 0;
    }

    p {
      width: 90%;
    }

    select {
      border: 1px solid $primary-color;

      &:focus {
        outline: none;
      }
    }
  }

  .deal-info {
    height: 65%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .deal-btn {
      width: 100%;
      @include flexCenter();
      flex-direction: column;
      height: 50%;
      justify-content: flex-end;

      .store-item-icon {
        order: 2;
        width: 50%;
      }

      button {
        @include button(1rem);

        &:hover {
          cursor: pointer;
          background: #e44c15;
          color: white;
        }
      }
    }
  }
}

/* Menu Page */
#menu {
  .menu-title {
    margin: 0 auto;
    margin-top: 2rem;
    width: 100%;
    height: 300px;
    @include backgroundImgCenterNoRepeat();
    background-attachment: scroll;

    .title {
      width: 75%;
      height: 100%;
      margin: 0 auto;
      @include flexCenter();
    }

    #sandwiches {
      h1 {
        font-size: 2.5rem;
      }
    }

    h1 {
      color: white;
      font-size: 4rem;
      text-align: center;
      text-shadow: 1px 1px 2px black;
      text-transform: uppercase;
    }
    &:first-of-type {
      margin-top: 0.5rem !important;
    }
  }

  .menu-type {
    min-height: 2000px;
    max-height: 2500px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    grid-auto-rows: auto;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 1rem;
    margin-bottom: 2rem;
    transition: 0.15s all;
    padding: 0 0.5rem 0.25rem 0.5rem;

    &:hover .right-arrow {
      opacity: 1;
    }
  }

  .item-img {
    @include backgroundImgCenterNoRepeat();
    height: 35%;
    border-radius: 0.5rem 0.5rem 0 0;
    position: relative;

    .fa-info-circle {
      color: white;
      float: right;
      margin-right: 0.25rem;
      margin-top: 0.25rem;
      transition: 0.15s all;
      display: none;

      &:hover {
        color: rgb(229, 226, 226);
        cursor: pointer;
      }
    }

    .extra-info-desc {
      background: white;
      position: absolute;
      border-radius: 0.5rem 0.5rem 0 0;
      transition: 0.5s all;
      height: 0;
      opacity: 0;
      width: 100%;

      .close {
        float: right;
        visibility: hidden;
      }

      .close-shown {
        visibility: visible;
      }

      p {
        margin: 0 1rem 0 1rem;
        opacity: 0;
        transition: 0.5s all;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }

      .extra-info-p-shown {
        opacity: 1;
      }
    }

    .extra-info-shown {
      height: 150%;
      opacity: 1;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    }
  }

  .item {
    border: $border;
    border-radius: 0.5rem;
    z-index: 2;
  }

  .item-info {
    @include flexCenter();
    height: 65%;

    .price-div {
      width: 100%;
      @include flexCenter();
      flex-direction: column;

      .store-item-icon,
      a {
        order: 2;
        width: 75%;
      }
    }
  }

  .item-name {
    @include flexCenter();
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .item-desc {
      text-align: center;
      width: 100%;
      height: 50%;
      @include flexCenter();
      flex-direction: column;
      justify-content: flex-start;

      select {
        width: 50%;
      }
      p {
        width: 90%;
      }
      h4 {
        margin-bottom: 0.25rem;
      }
    }
  }
  button,
  a {
    @include button(1.25rem);

    &:hover {
      cursor: pointer;
      color: white;
      background: $primary-color;
    }
  }

  a {
    text-decoration: none;
    color: black;
    text-align: center;
  }
}

/* Pizza Section */
#pizza-menu {
  #menu-title {
    background-image: url(../img/pizza-home2.jpg);
    display: flex;
    flex-direction: column;
  }

  #pizza-type {
    grid-template-areas:
      "pizza1"
      "pizza2"
      "pizza3"
      "pizza4";

    #pizza1 {
      grid-area: pizza1;
      .item-img {
        background-image: url(../img/cheese-pizza.jpg);
      }
    }

    #pizza2 {
      grid-area: pizza2;
      .item-img {
        background-image: url(../img/pizza-home2.jpg);
      }
    }

    #pizza3 {
      grid-area: pizza3;
      .item-img {
        background-image: url(../img/sausage-pizza.jpg);
      }
    }

    #pizza4 {
      grid-area: pizza4;
      .item-img {
        background-image: url(../img/supreme-pizza.jpg);
      }
    }

    #pizza5 {
      .item-img {
      }
    }
  }
}

/* Wing Section */
#wings-menu {
  #wings-title {
    background-image: url(../img/wings-home.jpg);
  }

  #wing-type {
    grid-template-areas:
      "wing1"
      "wing2"
      "wing3"
      "wing4";

    #wing1 {
      grid-area: wing1;
      .item-img {
        background-image: url(../img/buffalo-wings.jpg);
      }
    }

    #wing2 {
      grid-area: wing2;
      .item-img {
        background-image: url(../img/BBQ-wings.jpg);
      }
    }

    #wing3 {
      grid-area: wing3;
      .item-img {
        background-image: url(../img/honey-chipotle-wings.jpg);
      }
    }

    #wing4 {
      grid-area: wing4;
      .item-img {
        background-image: url(../img/boneless-wings.jpg);
      }
    }

    #wing5 {
      .item-img {
        background-image: url(../img/wings-home.jpg);
      }
    }
  }
}

/* Sandwich Section */
#sandwich-menu {
  #sandwich-title {
    background-image: url(../img/burger-home.jpg);
  }

  #sandwich-type {
    grid-template-areas:
      "sandwich1"
      "sandwich2"
      "sandwich3"
      "sandwich4";

    #sandwich1 {
      grid-area: sandwich1;
      #sandwich-img {
        background-image: url(../img/burger-home.jpg);
      }
    }

    #sandwich2 {
      grid-area: sandwich2;
      #sandwich-img {
        background-image: url(../img/turkey-club.jpg);
      }
    }

    #sandwich3 {
      grid-area: sandwich3;
      #sandwich-img {
        background-image: url(../img/bacon-cheeseburger.jpg);
      }
    }

    #sandwich4 {
      grid-area: sandwich4;
      #sandwich-img {
        background-image: url(../img/chicken-sandwich.jpg);
      }
    }

    #sandwich5 {
      #sandwich-img {
        background-image: url(../img/veggie-burger.jpg);
      }
    }
  }
}

/* Side Section */
#sides-menu {
  #side-title {
    background-image: url(../img/side-home.jpg);
  }

  #side-type {
    grid-template-areas:
      "side1"
      "side2"
      "side3"
      "side4";

    #side1 {
      grid-area: side1;
      #side-img {
        background-image: url(../img/side-home.jpg);
      }
    }

    #side2 {
      grid-area: side2;
      #side-img {
        background-image: url(../img/spinach-salad.jpg);
      }
    }

    #side3 {
      grid-area: side3;
      #side-img {
        background-image: url(../img/breadsticks.jpg);
      }
    }

    #side4 {
      grid-area: side4;
      #side-img {
        background-image: url(../img/macncheese.jpg);
      }
    }

    #side5 {
      #side-img {
        background-image: url(../img/jalapeno-popper.jpg);
      }
    }
  }
}

/* Dessert Section */
#dessert-menu {
  #dessert-title {
    background-image: url(../img/dessert-home.jpg);
  }

  #dessert-type {
    grid-template-areas:
      "dessert1"
      "dessert2"
      "dessert3"
      "dessert4";

    #dessert1 {
      grid-area: dessert1;
      #dessert-img {
        background-image: url(../img/dessert-home.jpg);
      }
    }

    #dessert2 {
      grid-area: dessert2;
      #dessert-img {
        background-image: url(../img/brownie.jpg);
      }
    }

    #dessert3 {
      grid-area: dessert3;
      #dessert-img {
        background-image: url(../img/choc-cake.jpg);
      }
    }

    #dessert4 {
      grid-area: dessert4;
      #dessert-img {
        background-image: url(../img/milkshake.jpg);
      }
    }

    #dessert5 {
      #dessert-img {
        background-image: url(../img/Sundae.jpg);
      }
    }
  }
}

/* Drink Section */
#drink-menu {
  #drink-title {
    background-image: url(../img/drink-home.jpg);
  }

  #drink-type {
    grid-template-areas:
      "drink1"
      "drink2"
      "drink3"
      "drink4";

    #drink1 {
      grid-area: drink1;
      #drink-img {
        background-image: url(../img/coke.jpg);
      }
    }

    #drink2 {
      grid-area: drink2;
      #drink-img {
        background-image: url(../img/dr-pepper.jpg);
      }
    }

    #drink3 {
      grid-area: drink3;
      #drink-img {
        background-image: url(../img/lemonade.jpg);
      }
    }

    #drink4 {
      grid-area: drink4;
      #drink-img {
        background-image: url(../img/iced-tea.jpg);
      }
    }

    #drink5 {
      #drink-img {
        background-image: url(../img/water.jpg);
      }
    }
  }
}

/* Left/Right Arrows */
.arrow {
  background: rgba(48, 48, 48, 0.5);
  position: absolute;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  text-align: center;
  top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s all;
  margin-top: 0.25rem;
  z-index: 3;

  span {
    color: rgba(255, 255, 255, 0.9);
    font-size: 2rem;
  }

  &:hover {
    cursor: pointer;
    background: rgba(48, 48, 48, 0.85);
  }

  &:hover span {
    color: rgba(255, 255, 255, 1);
  }
}

.arrows {
  position: absolute;
  height: auto;
  width: 75%;
  transition: 0.15s all;
  display: none;
}

.right-arrow {
  right: 0.5%;
  opacity: 0;
}

.left-arrow {
  left: 0.5%;
  opacity: 0;
}

.item-desc {
  select {
    border: 1px solid #e44c15;

    &:focus {
      outline: none;
    }
  }
}

/* Checkout Modal */
.modal-body {
  padding: 0;
  #order {
    border-bottom: 1px solid #e9ecef;
    padding-left: 1rem;
    padding-right: 1rem;

    .item-text {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      margin-bottom: 0.5rem;

      #checkout-toppings {
        position: absolute;
        top: 15px;
        font-size: 0.75rem;
      }

      .item-toppings {
        margin: 0 !important;
      }
    }

    #total-checkout {
      width: 100%;
      height: 25px;
      span {
        float: right;
      }
    }
  }

  #personal-info {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;

    h3 {
      text-align: center;
      margin: auto 0;
    }

    input {
      width: 100%;
      height: 25px;
    }

    label {
      margin-bottom: 0;
    }
  }

  #address {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
      "head"
      "fullname"
      "email"
      "street"
      "city"
      "state"
      "zip";
    grid-gap: 10px;
    padding: 0 1rem 1rem 1rem;
    border-bottom: 1px solid #cfcecc;

    h3 {
      grid-area: head;
    }

    #full-name {
      grid-area: fullname;
    }

    #email-container {
      grid-area: email;
    }

    #street-container {
      grid-area: street;
    }

    #city-container {
      grid-area: city;
    }

    #states {
      grid-area: state;
      width: 100%;
      height: 25px;
      display: flex;
      flex-direction: column;
    }

    #zip-container {
      grid-area: zip;
      display: flex;
      flex-direction: column;
    }
  }

  #payment-info {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr) 75px;
    grid-template-areas:
      "head"
      "name"
      "number"
      "month"
      "year"
      "cvv"
      "accepted";
    grid-gap: 10px;
    padding: 0 1rem 1rem 1rem;

    select {
      width: 100%;
    }

    h3 {
      grid-area: head;
    }

    #accepted-cards {
      display: flex;
      flex-direction: column;
      grid-area: accepted;
      text-align: center;

      i {
        font-size: 3rem;

        &:nth-child(1) {
          color: navy;
        }
        &:nth-child(2) {
          color: red;
        }
        &:nth-child(3) {
          color: orange;
        }
        &:nth-child(4) {
          color: blue;
        }
      }
    }

    #name-on-card-container {
      grid-area: name;
    }

    #card-number-container {
      grid-area: number;
    }

    #months {
      grid-area: month;
      height: 25px;
      display: flex;
      flex-direction: column;
    }

    #years {
      grid-area: year;
      height: 25px;
      display: flex;
      flex-direction: column;
    }

    #cvv-container {
      grid-area: cvv;
      display: flex;
      flex-direction: column;
    }
  }

  .error {
    border: 1px solid red;
  }

  .validation-error {
    display: none;
    font-size: 0.65rem;
    color: red;
  }
}

.modal-footer {
  .checkoutBtn {
    border-radius: 0.5rem;
    border-color: $primary-color;
    padding: 0.5rem;
    font-weight: 500;
    background: white;
    transition: 0.15s all;
    font-size: 1rem;

    &:hover {
      cursor: pointer;
      color: white;
      background: $primary-color;
    }
  }

  .closeBtn {
    border-radius: 0.5rem;
    color: #6c757d;
    background-color: transparent;
    border-color: #6c757d;
    transition: 0.15s all;
    padding: 0.5rem;
    font-weight: 500;
    font-size: 1rem;

    &:hover {
      color: #fff;
      background-color: #6c757d;
      border-color: #6c757d;
    }
  }
}

/* Create Your Own Page */
#title {
  width: 100%;
  margin: 0 auto;
  border-bottom: solid 1px #cfcecc;
  margin-top: 0.5rem;
  padding: 0 0.5rem 0 0.5rem;

  h1 {
    font-weight: normal;
    font-size: 2rem;
  }

  #topping-list {
    width: 100%;
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px;
    grid-auto-rows: 50px;
    grid-gap: 5px 10px;
    margin-bottom: 1rem;
    padding: 0 0.5rem 0 0.5rem;

    .indvTopping {
      border: $border;
      border-radius: 0.2rem;
      width: 100%;
      animation: 0.5s fadeIn;
      display: flex;
      justify-content: space-around;
      align-items: center;

      p {
        margin-bottom: 0;
        width: 75%;
      }

      span {
        font-size: 1.5rem;
        transition: 0.15s all;
        transform: rotate(90deg);
        text-align: center;

        &:hover {
          color: $primary-color;
          cursor: pointer;
        }
      }

      &:nth-of-type(5) {
        margin-right: 0;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

#create-your-own {
  width: 100%;
  min-height: 500px;
  max-height: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  #create-img {
    width: 100%;
    padding: 0 0.5rem 0 0.5rem;

    #img-preview {
      height: 400px;
      background-image: url(../img/cheese-pizza.jpg);
      @include backgroundImgCenterNoRepeat();
    }
  }

  #toppings {
    width: 100%;
    padding: 0.5rem 0.5rem 0 0.5rem;

    #topping-header {
      height: 5%;

      #steps {
        list-style: none;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        margin-bottom: 0;
        height: 100%;
        width: 100%;

        li {
          background: white;
          width: 100%;
          text-align: center;
          padding: 0.5rem 0 0.5rem 0;
          text-transform: uppercase;
          border: $border;
          border-radius: 0.2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          transition: 0.15s all;
          font-size: 0.85rem;

          &:last-of-type {
            margin-right: 0;
          }

          &:hover {
            cursor: pointer;
            border-color: $secondary-color;
          }
        }

        .active-create-your-own-nav {
          background: $primary-color;
          border-color: $primary-color;
          color: white;

          &:hover {
            border-color: $primary-color;
          }
        }
      }
    }

    #topping-types {
      height: 100%;
      margin-top: 0.5rem;
      display: flex;
      flex-direction: column;

      .topping-type {
        width: 100%;
        height: 100%;

        input {
          position: absolute;
          clip: rect(0 0 0 0);
          overflow: hidden;
        }

        .toppings {
          display: grid;
          grid-template-rows: 1fr 1fr;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-gap: 10px;
          list-style: none;
          flex-wrap: wrap;
          width: 100%;
          // height: 100%;
          margin-bottom: 5rem;
          .topping {
            width: 100%;
            height: 100%;
            border: $border;
            border-radius: 0.2rem;
            transition: 0.15s all;

            &:hover {
              cursor: pointer;
              border-color: $secondary-color;
            }

            img {
              height: 80%;
              width: 100%;
              border-radius: 0.2rem 0.2rem 0 0;
            }

            .topping-name {
              height: 20%;
              width: 100%;
              margin-left: 0.25rem;

              p {
                font-weight: bold;
                font-size: 0.9rem;
              }
            }
          }

          .topping-active {
            border-color: $primary-color;
            border-width: 1px;

            &:hover {
              border-color: $primary-color;
            }
          }
        }
      }

      fieldset {
        legend {
          font-weight: bold;
          letter-spacing: 0.1rem;
        }
        .pizza-options {
          min-height: 50px;
          max-height: 75px;
          width: 100%;
          margin-bottom: 0.5rem;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: 1fr;
          grid-gap: 10px;

          label {
            border: $border;
            border-radius: 0.5rem;
            min-width: 100%;
            font-size: 1rem;
            padding: 0 0.25rem 0 0.25rem;
            @include flexCenter();
            cursor: pointer;
            transition: 0.15s all;

            &:hover {
              border-color: $secondary-color;
            }
          }

          .size-active,
          .crust-active,
          .cut-active,
          .bake-active,
          .sauce-active,
          .sauce-amount-active,
          .cheese-active {
            border-color: $primary-color;

            &:hover {
              border-color: $primary-color;
            }
          }
        }

        &:last-of-type {
          margin-bottom: 5rem;
        }
      }
      #crust-and-size {
        display: block;
      }

      #meats {
        display: none;

        #pepperoni {
          border-bottom: $border;
        }

        #meat-toppings {
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(4, 1fr);
        }
      }

      #cheese {
        display: none;
        height: 50%;

        fieldset {
          margin-bottom: 0;
        }

        #cheese-toppings {
          grid-template-rows: 1fr;
          grid-template-columns: repeat(2, 1fr);
        }
      }
      #veggie {
        display: none;

        #pineapple {
          border-bottom: $border;
        }

        #veggie-toppings {
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(3, 1fr);
        }
      }
    }
  }
}

#next-step {
  width: 100%;
  position: fixed;
  bottom: 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  height: 60px;
  z-index: 40;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;

  div {
    display: none;
    justify-content: center;
    align-items: center;

    a {
      color: black;
      font-size: 1.25rem;
    }
  }

  #cheese-next {
    display: flex;
  }

  .step {
    width: 100%;
    padding: 0 0.5rem 0 0.5rem;
  }
  #finished {
    #create-your-own-total {
      font-size: 1.5rem;
      margin-left: 1rem;
    }
  }

  button {
    border-radius: 0.5rem;
    border: 0.1rem solid $primary-color;
    padding: 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    background: white;
    transition: 0.15s all;
    font-weight: 400;
    width: 75%;
    margin-left: 1rem;

    &:hover {
      cursor: pointer;
      background: $primary-color;
      color: white;
    }
  }
}

/* Media Queries */
@media (min-width: 700px) {
  #menus-preview {
    min-height: 750px;
    max-height: 1000px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "menu1 menu2"
      "menu3 menu4"
      "menu5 menu6";
  }

  #deals-preview {
    min-height: 500px;
    max-height: 750px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "deal1 deal2 deal3";
  }

  .show-cart {
    width: 60%;
  }

  #menu-nav {
    a {
      margin-right: 0.5rem;
      font-size: 1rem;
    }
  }

  #deals-page {
    min-height: 1250px;
    max-height: 1500px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "deal1 deal2"
      "deal3 deal4"
      "deal5 deal6";
  }

  #menu {
    .menu-title {
      #sandwiches {
        h1 {
          font-size: 4rem;
        }
      }
    }

    .menu-type {
      min-height: 1250px;
      max-height: 1500px;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(2, 1fr);
    }
  }

  #pizza-menu {
    #pizza-type {
      grid-template-areas:
        "pizza1 pizza2"
        "pizza3 pizza4";
    }
  }

  #wings-menu {
    #wing-type {
      grid-template-areas:
        "wing1 wing2"
        "wing3 wing4";
    }
  }

  #sandwich-menu {
    #sandwich-type {
      grid-template-areas:
        "sandwich1 sandwich2"
        "sandwich3 sandwich4";
    }
  }

  #sides-menu {
    #side-type {
      grid-template-areas:
        "side1 side2"
        "side3 side4";
    }
  }

  #dessert-menu {
    #dessert-type {
      grid-template-areas:
        "dessert1 dessert2"
        "dessert3 dessert4";
    }
  }

  #drink-menu {
    #drink-type {
      grid-template-areas:
        "drink1 drink2"
        "drink3 drink4";
    }
  }

  #title {
    #topping-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  #create-your-own {
    width: 100%;
    min-height: 500px;
    max-height: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    #toppings {
      #topping-types {
        #meats {
          #meat-toppings {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
          }
        }

        #cheese {
          #cheese-toppings {
            grid-template-rows: 1fr;
            grid-template-columns: repeat(2, 1fr);
          }
        }
        #veggie {
          #veggie-toppings {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
          }
        }
      }
    }
  }

  #next-step {
    button {
      width: 50%;
    }
  }
}

@media (min-width: 992px) {
  #menus-preview {
    width: 75%;
    padding: 0;
    .menu-hover {
      &:hover {
        transform: scale(1.1);
        box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.5);
        filter: brightness(100%);
        cursor: pointer;
      }
    }
  }

  #menus {
    width: 75%;
    padding: 0;
  }

  #deals-preview {
    width: 75%;
    padding: 0;
  }

  #deals {
    width: 75%;
    margin: 0 auto;
  }

  #nav {
    @include flexCenter();
    .navbar {
      width: 75%;
      margin: 0;
      padding: 0;

      form {
        justify-content: flex-end;
      }
    }
  }

  .show-cart {
    width: 40%;
  }

  #home-header {
    #topHeader {
      width: 75%;

      .logo {
        width: 100px;
      }

      #sign-up {
        margin-right: 0;
      }
    }
  }

  #nav {
    .navbar {
      .navbar-nav {
        .nav-item {
          a {
            padding: 0;
          }
        }
      }

      form {
        justify-content: flex-end;

        input {
          margin-right: 0.5rem;
          width: 50%;
        }
      }
    }
  }
  .cart-info {
    margin-right: 0 !important;
  }

  .jumbotron {
    justify-content: flex-start;
    padding-top: 4rem;
  }

  #menus-preview {
    div {
      justify-content: flex-start;
      align-items: flex-start;

      h3 {
        margin: 0.5rem 0 0 0.5rem;
      }
    }
  }

  #deals {
    padding: 0;
  }

  #deals-page {
    width: 75%;
    min-height: 1250px;
    max-height: 1500px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "deal1 deal2"
      "deal3 deal4"
      "deal5 deal6";
    padding: 0;
  }

  #menu {
    .menu-title {
      height: 350px;
      #sandwiches {
        h1 {
          font-size: 4rem;
        }
      }
    }

    .menu-type {
      min-height: 500px;
      max-height: 100px;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(4, 24.15%);
      width: 75%;
      overflow-x: auto;
      overflow-y: hidden;
      grid-auto-flow: column;
      grid-auto-columns: 24.15%;
    }

    .item-img {
      .fa-info-circle {
        display: block;
      }
    }
  }

  #pizza-menu {
    #pizza-type {
      grid-template-areas: "pizza1 pizza2 pizza3 pizza4";
    }
  }

  #wings-menu {
    #wing-type {
      grid-template-areas: "wing1 wing2 wing3 wing4";
    }
  }

  #sandwich-menu {
    #sandwich-type {
      grid-template-areas: "sandwich1 sandwich2 sandwich3 sandwich4";
    }
  }

  #sides-menu {
    #side-type {
      grid-template-areas: "side1 side2 side3 side4";
    }
  }

  #dessert-menu {
    #dessert-type {
      grid-template-areas: "dessert1 dessert2 dessert3 dessert4";
    }
  }

  #drink-menu {
    #drink-type {
      grid-template-areas: "drink1 drink2 drink3 drink4";
      margin-bottom: 3rem;
    }
  }

  .arrows {
    display: flex;
    height: 50%;
  }

  .modal-body {
    #address {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas:
        "head head"
        "fullname email"
        "street city"
        "state zip";
    }

    #payment-info {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, 1fr) 75px;
      grid-template-areas:
        "head head"
        "name number"
        "month year"
        "cvv accepted";
    }
  }

  #title {
    width: 75%;
    padding: 0;
    #topping-list {
      grid-template-columns: repeat(4, 1fr);
      padding: 0;
    }
  }

  #create-your-own {
    width: 75%;
    flex-direction: row;

    #create-img {
      padding: 0;
      margin-right: 1rem;
      width: 40%;
    }
    #toppings {
      padding: 0;
      #topping-header {
        height: 40px;
        #steps {
          height: 100%;
          width: 100%;
        }
      }

      #topping-types {
        #meats {
          #meat-toppings {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
          }
        }

        #cheese {
          #cheese-toppings {
            grid-template-rows: 1fr;
            grid-template-columns: repeat(2, 1fr);
          }
        }
        #veggie {
          #veggie-toppings {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
          }
        }
      }
    }
  }
  #next-step {
    button {
      width: 25%;
    }
  }
}

@media (min-width: 1200px) {
  #menus-preview {
    min-height: 300px;
    max-height: 500px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "menu1 menu2 menu3"
      "menu4 menu5 menu6";
  }

  #deals-page {
    min-height: 1000px;
    max-height: 1500px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "deal1 deal2 deal3"
      "deal4 deal5 deal6";
    padding: 0;
  }

  .modal-body {
    #address {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
        "head head head"
        "fullname email street"
        "city state zip";
    }

    #payment-info {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr) 75px;
      grid-template-areas:
        "head head head"
        "name number month"
        "year cvv accepted";

      #accepted-cards {
        i {
          font-size: 2.5rem;
        }
      }
    }
  }

  #title {
    #topping-list {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  #create-your-own {
    #toppings {
      #topping-types {
        #meats {
          #meat-toppings {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
          }
        }
        #cheese {
          #cheese-toppings {
            grid-template-rows: 1fr;
            grid-template-columns: repeat(3, 1fr);
          }
        }
        #veggie {
          #veggie-toppings {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
          }
        }
      }
    }
  }

  .show-cart {
    width: 30%;
  }
}
