@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

/* ===================================== 
   ScrollBar
======================================== */

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/////////////////////////////////
/////////// HEADER //////////////
/////////////////////////////////

#home-header {
  background: #e44c15;
  display: flex;
  justify-content: center;
  height: 10vh;

  #topHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    
    .logo {
      background-image: url(../img/logo.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 10%;
    }

    #sign-up {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 20%;

      a {
        font-size: 1.2rem;
        color: white;
        text-decoration: none;
        margin-left: 1rem;
      }
    }
  }
}

/////////////////////////////////
///////////// NAV ///////////////
/////////////////////////////////
#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;

  .navbar {
    width: 75%;
    background: white !important;
    padding: 0;
    margin: 0;

    .navbar-nav {
      display: flex;
      width: 75%;

      .nav-item {

        a {
          font-size: 1.25rem;
          transition: 0.15s all;
          padding-bottom: 0;
        }

        &:after {
          content: '';
          display: block;
          width: 0;
          height: 3px;
          background: #e44c15;
          transition: width .3s;
        }

        &:hover:after {
          width: 100%;
        }

        &:nth-of-type(1) {
          margin-right: 1rem;
        }
      }

      .active {

        &:after {
          width: 100%;
        }
      }
    }

    form {
      display: flex;
      width: 100%;
      justify-content: flex-end;

      button {
        color: #e44c15;
        border-color: #e44c15;

        &:hover {
          color: white;
          background: #e44c15;
        }

        &:focus {
          box-shadow: none;
        }
      }

      input {

        &:focus {
          box-shadow: 0 0 0 0.2rem rgba(228, 76, 21, 0.25);
          border-color: #e44c15;
        }

      }
    }
  }

  i{
    color: #e44c15;
    font-size: 1.5rem;
  }
}

/////////////////////////////////
////// MENU PAGE NAVIGATION /////
/////////////////////////////////

#menu-nav {
  margin-top: 0.5rem;
  text-align: center;
  width: 100%;
  background: white;
  z-index: 9999;
  
  a {
    margin-right: 1rem;
    color: rgb(124, 124, 124);
    transition: .15s all;
    display: inline-block;
    height: 100% !important;

    &:hover {
      color: black;
      text-decoration: none;
    }

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 3px;
      background: #e44c15;
      transition: width .3s;
    }

    &:hover:after {
      width: 100%;
    }
  }

  .active-menu-nav {
    color: black;

    &:after {
      width: 100%;
    }
  }

  #nav-cart {
    display: none;
    float: right;
    span {
      margin-right: 1rem;
      padding-right: 1rem;
      color: rgb(124, 124, 124);
      transition: .15s all;
      margin-bottom: 2rem;

      &:hover {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
  
}

.scrolled {
  position: fixed;
  top: 0;
  margin-top: 0 !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.40);
}


/////////////////////////////////
//////// CHECKOUT MODAL /////////
/////////////////////////////////
.modal-body {
  padding: 0;
  #order {
    border-bottom: 1px solid #e9ecef;
    padding-left: 1rem;
    padding-right: 1rem;

    .item-text {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      margin-bottom: 0.5rem;

      #checkout-toppings {
        position: absolute;
        top: 15px;
        font-size: 0.75rem;
      }
    }

    #total-checkout {
      width: 100%;
      height: 25px;
      span {
        float: right;
      
      }
    }
  }

  #personal-info {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    h3 {
      text-align: center;
      margin: auto 0;
    }

    input{
      width: 100%;
      height: 25px;
    }

    label {
      margin-bottom: 0;
    }

  }

  #address {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "header header"
    "fullname email"
    "street city"
    "state zip";
    grid-gap: 10px;
    padding-right: 1rem;
    padding-left: 1rem;
    border-right: 1px solid #e9ecef;
    padding-bottom: 1rem;

    h3 {
      grid-area: header;
    }

    #full-name {
      grid-area: fullname;
    }

    #email-container {
      grid-area: email;
    }

    #street-container {
      grid-area: street;
    }

    #city-container {
      grid-area: city;
    }

    #states {
      grid-area: state;
      width: 100%;
      height: 25px;
      display: flex;
      flex-direction: column;
    }

    #zip-container {
      grid-area: zip;
      display: flex;
      flex-direction: column;
    }
  }

  #payment-info {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "header header header"
    "name number number"
    "month year cvv"
    "accepted accepted accepted";
    grid-gap: 10px;
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;

    select {
      width: 100%;
    }

    h3 {
      grid-area: header;
    }

    #accepted-cards {
      display: flex;
      flex-direction: column;
      grid-area: accepted;
      text-align: center;

      i {
        font-size: 1.75rem;

        &:nth-child(1) {
          color: navy;
        }
        &:nth-child(2) {
          color: red;
        }
        &:nth-child(3) {
          color: orange;
        }
        &:nth-child(4) {
          color: blue;
        }
      }
    }

    #name-on-card-container {
      grid-area: name;
    }

    #card-number-container {
      grid-area: number;
    }

    #months {
      grid-area: month;
      height: 25px;
      display: flex;
      flex-direction: column;
    }

    #years {
      grid-area: year;
      height: 25px;
      display: flex;
      flex-direction: column;
    }

    #cvv-container {
      grid-area: cvv;
      display: flex;
      flex-direction: column;
    }
  }

  .error {
    border: 1px solid red;
  }

  .validation-error {
    display: none;
    font-size: 0.65rem;
    color: red;
  }
}

.modal-footer {

  .checkoutBtn {
    border-radius: 0.5rem;
    border-color: #e44c15;
    padding: 0.5rem;
    font-weight: 500;
    background: white;
    transition: 0.15s all;
    font-size: 1rem;

    &:hover {
      cursor: pointer;
      color: white;
      background: #e44c15;
     }
  }

  .closeBtn {
    border-radius: 0.5rem;
    color: #6c757d;
    background-color: transparent;
    border-color: #6c757d;
    transition: 0.15s all;
    padding: 0.5rem;
    font-weight: 500;
    font-size: 1rem;

    &:hover {
      color: #fff;
      background-color: #6c757d;
      border-color: #6c757d;
    }
  }
}


/////////////////////////////////
///////////// CART //////////////
/////////////////////////////////

.cart-info {
  border: 0.1rem solid #e44c15;
  border-radius: 0.25rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  margin-right: 0 !important;
  transition: 0.25s all;

  &:hover {
    background: #e44c15;
    color: white;
  }

  span {

    .fa-shopping-cart {
      transition: 0.25s all;
    }
  }
}

.cart {
  position: fixed;
  height:100vh;
  top: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  background: rgb(211, 211, 211);
  width: 0;
  overflow: auto;
  z-index: 10000;
  display: flex;
  flex-direction: column;


  .cart-total-container {
    h5 {

      #discountAmt {
        font-weight: normal;
        font-size: 1rem;
      }
    }
  }

  h3 {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    transition: 0.25s all;

    &:hover {
      color: red;
      cursor: pointer;
    }
  }

  .cart-item-remove {
    height: 0;

    i {
      &:hover {
        color: red;;
      }
    }
  }
}

.show-cart {
  width: 25rem;
  padding: 2rem 1.5rem;
}


.cart-item {

  .item-text {


    .cart-item-title {
      text-transform: capitalize;
    }

    #cart-toppings {
      margin-bottom: 0;
      font-size: 0.85rem;
    }
  }
}



/////////////////////////////////
////////// IMG HEADER ///////////
/////////////////////////////////

.jumbotron {
  padding: 0;
  width: 100%;
  min-height: 50vh;
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  display: flex;
  margin-top: 0.5rem;
  flex-direction: column;

  .container {
    width: 40%;
    height: 100%;  
    color: white;
    padding-top: 3rem;
    transform: rotate(-5deg);
    margin: 0;
    margin-left: 1rem;
    margin-top: 2rem;

    div {
      background: #f55f29;
      transform: skew(45deg);
      width: auto;
      text-align: center;
      animation: slideIn 0.5s ease;
      opacity: 0;
      

      &:nth-child(2) {
        margin-top: 1rem;
        animation-delay: 0.4s;
      }

      &:nth-child(3) {
        margin-top: 1rem;
        animation-delay: 0.9s;
      }

      h4 {
        transform: skew(-45deg); 
        width: auto;      
      }
    }

    .pizza-img {
      width: 100%;

    }
  }
}

@keyframes slideIn {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-300px) skew(45deg);
  }
  80% {
    transform: translateX(25px) skew(45deg);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0px) skew(45deg);
  }
}

/////////////////////////////////
//////////// DEALS //////////////
/////////////////////////////////

#deals {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;

  #deal-labels {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
  }

  h3 {
    margin: 0;
    text-transform: uppercase;
  }
  
  a {
    font-weight: 500;
    text-decoration: none;
  }
}

#deals-preview {
  height: 35vh;
  width: 75%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  grid-template-areas: 
    "deal1 deal2 deal3";
  margin-bottom: 1rem;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;

  #deal1 {
    grid-area: deal1;

    .deal-img {
      background-image: url(../img/cheese-pizza.jpg);
    }
  }
  #deal2 {
    grid-area: deal2;

    .deal-img {
      background-image: url(../img/brownie.jpg);
    }
  }
  #deal3 {
    grid-area: deal3;  

    .deal-img {
      display: flex;
      justify-content: space-evenly;
      #salad {
        width: 50%;
        height: 100%;
        background-image: url(../img/spinach-salad.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 0.5rem 0 0 0;
      }

      #breadsticks {
        width: 50%;
        height: 100%;
        background-image: url(../img/breadsticks.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 0 0.5rem 0 0;
      }
    }
  }

  .deal-home {
    border: solid 1px #cfcecc;
    border-radius: 0.5rem;
  }

  .deal-name {
    margin-left: 1rem;
    margin-top: 0.5rem;
    text-align: center;

    h4 {
      margin-bottom: 0;
      text-transform: uppercase;
    }

    p {
      width: 90%;
    }
  }

  .deal-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40%;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .deal-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
      
      button {
        border-radius: 0.5rem;
        border: 0.1rem solid #e44c15;
        margin-left: 1rem;
        margin-bottom: 1rem;
        padding: 0.5rem;
        font-size: 1.25rem;
        font-weight: 500;
        background: white;
        transition: 0.15s all;
        font-weight: 400;

        &:hover {
         cursor: pointer;
         background: #e44c15;
        }

        &:hover a {
          color: white;
        }

        a {
          text-decoration: none;
          color: black;
          width: 100%;
          height: 100%;
          display: flex;
          transition: 0.15s all;
          text-align: center;
        }
      }
    }
  }


/////////////////////////////////
/////////// DEAL PAGE ///////////
/////////////////////////////////

#deals-page {
  height: 70vh;
  width: 75%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  grid-template-areas: 
    "deal1 deal2 deal3";
  margin-bottom: 1rem;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;

  #deal1 {
    grid-area: deal1;

    .deal-img {
      background-image: url(../img/cheese-pizza.jpg);
    }
  }
  #deal2 {
    grid-area: deal2;

    .deal-img {
      background-image: url(../img/brownie.jpg);
    }
  }
  #deal3 {
    grid-area: deal3;  

    .deal-img {
      display: flex;
      justify-content: space-evenly;
      #salad {
        width: 50%;
        height: 100%;
        background-image: url(../img/spinach-salad.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 0.5rem 0 0 0;
      }

      #breadsticks {
        width: 50%;
        height: 100%;
        background-image: url(../img/breadsticks.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 0 0.5rem 0 0;
      }
    }
  }

  .deal-home {
    border: solid 1px #cfcecc;
    border-radius: 0.5rem;
  }

  .deal-name {
    margin-top: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h4 {
      margin-bottom: 0;
    }

    p {
      width: 90%;
    }
  }

  .deal-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 35%;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .deal-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65%;

    .deal-btn {

      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .store-item-icon {
        order: 2;
        width: 50%;
      }
      
      button {
        border-radius: 0.5rem;
        border: 0.1rem solid #e44c15;
        margin-left: 1rem;
        margin-bottom: 1rem;
        padding: 0.5rem;
        font-size: 1rem;
        font-weight: 500;
        background: white;
        transition: 0.15s all;
        font-weight: 400;

        &:hover {
         cursor: pointer;
         background: #e44c15;
         color: white;
        }
      }
    }
  }
}

/////////////////////////////////
///////////// MENUS /////////////
/////////////////////////////////

#menus {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;

  #menu-labels {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    h3 {
      text-transform: uppercase;
    }
  } 
}

#menus-preview {
  height: 35vh;
  width: 75%;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
  grid-template-areas: 
    "menu1 menu2 menu3"
    "menu4 menu5 menu6";

    .menu-hover {
      transition: 0.25s all;
      filter: brightness(70%);

      &:hover {
        transform: scale(1.1);
        box-shadow: 1px 10px 10px rgba(0,0,0,.5);
        filter: brightness(100%);
      }
    }

    .menu-home-img {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    
    #menu1 {
      grid-area: menu1;
      background-image: url(../img/pizza-home2.jpg);
    }
    
    #menu2 {
      grid-area: menu2;
      background-image: url(../img/wings-home.jpg);
    }

    #menu3 {
      grid-area: menu3;
      background-image: url(../img/burger-home.jpg);
    }

    #menu4 {
      grid-area: menu4;
      background-image: url(../img/side-home.jpg);
    }

    #menu5 {
      grid-area: menu5;
      background-image: url(../img/dessert-home.jpg);
    }

    #menu6 {
      grid-area: menu6;
      background-image: url(../img/drink-home.jpg);  
    }

  h3 {
    color: white;
    margin-left: 1rem;
    margin-top: 0.5rem;
    height: 100%;
    width: 100%;
    text-shadow: 1px 1px 2px black;
  }

  div {
    border-radius: 0.5rem;
  }

  a {
    text-decoration: none;
    
  }
}


/////////////////////////////////
////////// MENU PAGE ////////////
/////////////////////////////////


// General Styling
#menu {

  .menu-title {
    margin: 0 auto;
    margin-top: 2rem;
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .title {
      width: 75%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        color: white;
        font-size: 5rem;
        text-align: center;
        text-shadow: 1px 1px 2px black;
      }
    }

    &:first-of-type {
      margin-top: 0.5rem;
    }
  }
  
  .menu-type {
    min-height: 55vh;
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 24.15%);
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    grid-auto-rows: auto;
    grid-auto-columns: 24.15%;
    grid-auto-flow: column;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 2rem;
    padding-bottom: 0.25rem;
    transition: 0.15s all;

    &:hover .right-arrow {
      opacity: 1;
    }

    &:last-of-type {
      margin-bottom: 2rem;
    }
  }
  
  .item-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50%;
    border-radius: 0.5rem 0.5rem 0 0;
    position: relative;

    .fa-info-circle {
      color: white;
      float: right;
      margin-right: 0.25rem;
      margin-top: 0.25rem;
      transition: 0.15s all;

      &:hover {
        color: rgb(229, 226, 226);
        cursor: pointer;
      }
    }

    .extra-info-desc {
      background: white;
      position: absolute;
      border-radius: 0.5rem 0.5rem 0 0;
      transition: 0.5s all;
      height: 0;
      opacity: 0;
      width: 100%;

      .close {
        float: right;
        visibility: hidden;
      }

      p {
        margin: 0 1rem 0 1rem;
        opacity: 0;
        transition: 0.5s all;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
    }
  }

  .item-info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;

    .price-div {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .store-item-icon, a {
        order: 2;
        width: 75%;
      }
    }
  }
  
  .item-name {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .item-desc {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 60%;
    select {
      width: 50%;
    }
    p {
      width: 90%;
    }
    h4 {
      margin-bottom: 0.25rem;
    }
  }

  .item {
    border: solid 1px #cfcecc;
    border-radius: 0.5rem;
  }

  button, a {
    border-radius: 0.5rem;
    border: 0.1rem solid #e44c15;
    padding: 0.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    background: white;
    transition: 0.15s all;
    height: 100%;
    width: 50%;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    text-align: center;

    &:hover {
      cursor: pointer;
      color: white;
      background: #e44c15;
     }
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.item {
  z-index: 2;
}




// Pizza Section
#pizza-menu {

  #menu-title {

    background-image: url(../img/pizza-home2.jpg);
    display: flex;
    flex-direction: column;
    
    h1 {
      text-transform: uppercase;
      color: white;
    }

    span {
      width: 100%;
      background: rgb(248, 78, 78);
      // border-radius: 0.5rem;
      color: white;
      padding-left: 1rem;
      animation: 1s fadeIn;

      #close {
        float: right;
        padding: 0;
        margin-right: 0.25rem;
        width: 1%;
        transition: 0.15s all;

        &:hover {
          color: #b6babd;
          cursor: pointer;
        }
      }
    }
  }

  #pizza-type {
    grid-template-areas: 
    "pizza1 pizza2 pizza3 pizza4";
  
    #pizza1 {
      grid-area: pizza1;

      .item-img {
        background-image: url(../img/cheese-pizza.jpg);
      }
    }
  
    #pizza2 {
      grid-area: pizza2;

      .item-img {
        background-image: url(../img/pizza-home2.jpg);
      }
    }
  
    #pizza3 {
      grid-area: pizza3;

      .item-img {
        background-image: url(../img/sausage-pizza.jpg);
      }
    }
  
    #pizza4 {
      grid-area: pizza4;

      .item-img {
        background-image: url(../img/supreme-pizza.jpg);
      }
    } 
  }
}


//Left/Right Arrow Styling
.arrow {
  background: rgba(48, 48, 48, 0.5);
  position: absolute;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  text-align: center;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s all;
  margin-top: 0.25rem;
  z-index: 3;

  span {
    color: rgba(255, 255, 255, 0.9);
    font-size: 2rem;
  }

  &:hover {
    cursor: pointer;
    background: rgba(48, 48, 48, 0.85);
  }

  &:hover span {
    color: rgba(255, 255, 255, 1);
  }
}

.arrows {
  position: absolute;
  height: 54%;
  width: 75%;
  transition: .15s all;
}

.right-arrow {
  right: 0.5%;
  opacity: 0;
}

.left-arrow {
  left: 0.5%; 
  opacity: 0;
}

.item-desc {

  select {
    border: 1px solid #e44c15;
    
    &:focus {
     outline: none;
    }
  }
}



// Wing Section
#wings-menu {

  #wings-title {
    background-image: url(../img/wings-home.jpg);
  
    h1 {
      text-transform: uppercase;
    }
  }

  #wing-type {
    grid-template-areas: 
    "wing1 wing2 wing3 wing4";
  }

  #wing1 {
    grid-area: wing1;

    .item-img {
      background-image: url(../img/buffalo-wings.jpg);
    }
  }

  #wing2 {
    grid-area: wing2;

    .item-img {
      background-image: url(../img/BBQ-wings.jpg);
    }
  }

  #wing3 {
    grid-area: wing3;

    .item-img {
      background-image: url(../img/honey-chipotle-wings.jpg);
    }
  }

  #wing4 {
    grid-area: wing4;

    .item-img {
      background-image: url(../img/boneless-wings.jpg);
    }
  }

  #wing5 {

    .item-img {
      background-image: url(../img/wings-home.jpg);
    }
  }
}


// Sandwich Section
#sandwich-menu {

  #sandwich-title {
  
    background-image: url(../img/burger-home.jpg);
    h1 {
      text-transform: uppercase;
    }
  }

  #sandwich-type {
    grid-template-areas: 
    "sandwich1 sandwich2 sandwich3 sandwich4";
  
  }

  #sandwich1 {
    grid-area: sandwich1;

    #sandwich-img {
      background-image: url(../img/burger-home.jpg);
    }
  }

  #sandwich2 {
    grid-area: sandwich2;

    #sandwich-img {
      background-image: url(../img/turkey-club.jpg);
    }
  }

  #sandwich3 {
    grid-area: sandwich3;

    #sandwich-img {
      background-image: url(../img/bacon-cheeseburger.jpg);
    }
  }

  #sandwich4 {
    grid-area: sandwich4;

    #sandwich-img {
      background-image: url(../img/chicken-sandwich.jpg);
    }
  }

  #sandwich5 {

    #sandwich-img {
      background-image: url(../img/veggie-burger.jpg);
    }
  }
}



// Side section
#sides-menu {
  

  #side-title {
    background-image: url(../img/side-home.jpg);
    h1 {
      text-transform: uppercase;
    }
  }

  #side-type {
    grid-template-areas: 
    "side1 side2 side3 side4";
  }

  #side1 {
    grid-area: side1;

    #side-img {
      background-image: url(../img/side-home.jpg);
    }
  }

  #side2 {
    grid-area: side2;

    #side-img {
      background-image: url(../img/spinach-salad.jpg);
    }
  }

  #side3 {
    grid-area: side3;

    #side-img {
      background-image: url(../img/breadsticks.jpg);
    }
  }

  #side4 {
    grid-area: side4;

    #side-img {
      background-image: url(../img/macncheese.jpg);
    }
  }

  #side5 {

    #side-img {
      background-image: url(../img/jalapeno-popper.jpg);
    }
  }
}



// Dessert Section
#dessert-menu {

  #dessert-title {
  
    background-image: url(../img/dessert-home.jpg);
    h1 {
      text-transform: uppercase;
    }
  }

  #dessert-type {
    grid-template-areas: 
    "dessert1 dessert2 dessert3 dessert4";
  }

  #dessert1 {
    grid-area: dessert1;

    #dessert-img {
      background-image: url(../img/dessert-home.jpg);
    }
  }

  #dessert2 {
    grid-area: dessert2;

    #dessert-img {
      background-image: url(../img/brownie.jpg);
    }
  }

  #dessert3 {
    grid-area: dessert3;

    #dessert-img {
      background-image: url(../img/choc-cake.jpg);
    }
  }

  #dessert4 {
    grid-area: dessert4;

    #dessert-img {
      background-image: url(../img/milkshake.jpg);
    }
  }

  #dessert5 {
  

    #dessert-img {
      background-image: url(../img/Sundae.jpg);
    }
  }
}


// Drink Section
#drink-menu {

  #drink-title {
  
    background-image: url(../img/drink-home.jpg);
    h1 {
      text-transform: uppercase;
    }
  }

  #drink-type {
    grid-template-areas: 
    "drink1 drink2 drink3 drink4";
  }

  #drink1 {
    grid-area: drink1;

    #drink-img {
      background-image: url(../img/coke.jpg);
    }
  }

  #drink2 {
    grid-area: drink2;

    #drink-img {
      background-image: url(../img/dr-pepper.jpg);
    }
  }

  #drink3 {
    grid-area: drink3;

    #drink-img {
      background-image: url(../img/lemonade.jpg);
    }
  }

  #drink4 {
    grid-area: drink4;

    #drink-img {
      background-image: url(../img/iced-tea.jpg);
    }
  }

  #drink5 {

    #drink-img {
      background-image: url(../img/water.jpg);
    }
  }
}


/////////////////////////////////
////// CREATE YOUR OWN PAGE /////
/////////////////////////////////

#title {
  width: 75%;
  margin: 0 auto;
  border-bottom: solid 1px #cfcecc;
  margin-top: 0.5rem;

  h1 {
    font-weight: normal;
  }

  #topping-list {
    width: 100%;
    display: none;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px;
    grid-auto-rows: 50px;
    grid-gap: 5px 10px;
    margin-bottom: 0.5rem;
    
    .indvTopping {
      border: solid 1px #cfcecc;
      border-radius: 0.2rem;
      width: 100%;
      margin-right: 0.32rem;
      animation: 0.5s fadeIn;
      display: flex;
      justify-content: space-around;
      align-items: center;

      p {
        margin-bottom: 0;
        width: 75%;
      }

      span {
        font-size: 1.5rem;
        transition: 0.15s all;
        transform: rotate(90deg);
        text-align: center;

        &:hover {
          color: #e44c15;
          cursor: pointer;
        }
      }

      &:nth-of-type(5) {
        margin-right: 0;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}


#create-your-own {
  width: 75%;
  min-height: 60vh;
  margin: 0 auto;
  display: flex;
  margin-top: 1rem;

  #create-img {
    width: 40%;
    margin-right: 3rem;

    #img-preview {
      height: 366px;
      background-image: url(../img/cheese-pizza.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  #toppings {
    width: 60%;

    #topping-header {
      height: 5%;

      #steps {
        list-style: none;
        display: flex;
        margin-bottom: 0;
        height: 100%;

        li {
          background: white;
          width: 100%;
          text-align: center;
          padding: 0.5rem 0 0.5rem 0;
          text-transform: uppercase;
          border: solid 1px #cfcecc;
          border-radius: 0.2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          margin-right: 0.5rem;
          transition: 0.15s all;

          &:last-of-type {
            margin-right: 0;
          }

          &:hover {
            cursor: pointer;
            border-color: #888888;
          }
        }

        .active-create-your-own-nav {
          background: #e44c15;
          border-color: #e44c15;
          color: white;

          &:hover {
            border-color: #e44c15;
          }
        }
      }
    }

    #topping-types {
      height: 90%;
      margin-top: 1rem;
      display: flex;
      flex-direction: column;

      .topping-type {
        width: 100%;
        height: 100%;
        
        input {
          position: absolute;
          clip: rect(0 0 0 0);
          overflow: hidden;
        }

        .toppings {
          display: grid;
          grid-template-rows: 1fr 1fr;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-gap: 10px;
          list-style: none;
          flex-wrap: wrap;
          width: 100%;
          height: 100%;
          margin-bottom: 5rem;

          .topping {
            width: 100%;
            height: 100%;
            border: solid 1px #cfcecc;
            border-radius: 0.2rem;
            transition: 0.15s all;

            &:hover {
              cursor: pointer;
              border-color: #888888;
            }

            img {
              height: 60%;
              width: 100%;
              border-radius: 0.2rem 0.2rem 0 0;
            }

            .topping-name {
              height: 40%;
              width: 100%;
              margin-left: 0.25rem;

              p {
                font-weight: bold;
                font-size: 0.9rem;
              }
            }
          }

          .topping-active {
            border-color: #e44c15;
            border-width: 3px;

            &:hover {
              border-color: #e44c15;
            }
          }
        }
      }

      fieldset {

        legend {
          font-weight: bold;
          letter-spacing: 0.1rem;
        }
        .pizza-options {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          height: 5vh;
          width: 100%;
          margin-bottom: 0.5rem;
          flex-wrap: nowrap;
  
          label {
            margin-right: 2rem;
            border: solid 1px #cfcecc;
            border-radius: 0.5rem;
            width: 20%;
            font-size: 1rem;
            padding: 0 0.25rem 0 0.25rem;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 0.15s all;

            &:hover {
              border-color: #888888;
            }
          }

          .size-active, .crust-active, 
          .cut-active, .bake-active,
          .sauce-active, .sauce-amount-active,
          .cheese-active {
            border-color: #e44c15;

            &:hover {
              border-color: #e44c15;
            }
          }
        }

        &:last-of-type {
          margin-bottom: 5rem;
        }
      }
      
      #crust-and-size {
        display: block;
      }

      #meats {
        display: none;

        #pepperoni {
          border-bottom: solid 1px #cfcecc;
        }
      }

      #cheese {
        display: none;
        height: 50%;

        fieldset {
          margin-bottom: 1rem;
        }

        #cheese-toppings {
          grid-template-rows: 1fr;
        }
      }

      #veggie {
        display: none;

        #pineapple {
          border-bottom: solid 1px #cfcecc;
        }
      }
    }
  }
}

#next-step {
  width: 100%;
  position: fixed;
  bottom: 0;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.40);
  height: 7.5%;
  z-index: 40;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;

  div {
    display: none;
    width: 50%;
    justify-content: center;
    align-items: center;

    a {
      color: black;
      font-size: 1.25rem;
    }
  }

  #cheese-next {
    display: flex;
  }

  #finished {

    #create-your-own-total {
      font-size: 1.5rem;
      margin-left: 1rem;
    }
  }


  button {
    border-radius: 0.5rem;
    border: 0.1rem solid #e44c15;
    padding: 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    background: white;
    transition: 0.15s all;
    font-weight: 400;
    width: 35%;
    margin-left: 1rem;

    &:hover {
     cursor: pointer;
     background: #e44c15;
     color: white;
    }
  }
}

/////////////////////////////////
///////// Media Queries /////////
/////////////////////////////////
@media screen and (max-width: 1200px) {
  #menu {
    .menu-title {
     
    }
    .menu-type {
      
      .item-img {
        height: 30%;
      }
       
      .item-info {
        margin-left: 0;
        margin-top: 0.25rem;
        height: 70%;
    
        .item-name {
          text-align: center;
          justify-content: space-between;

          .price-div {

          }
  
          button {
            font-size: 1rem;
            width: 50%;
            align-self: center;

    
          }

          h4 {
            font-size: 1.1rem;
          }

          p {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 1000px) {
  header {

    #sign-up{
      width: 100% !important;
    }
  }

  #deals-preview {
    grid-gap: 1rem;

    .deal-name {
      
      h4 {
        font-size: 1rem;
      }

      p{
        font-size: 0.75rem;
      }
      
    }

    .deal-info {
      
      .deal-btn {

        display: flex;
        margin-left: 1rem;
        align-items: center;
        button {
          margin-bottom: 0.5rem;
          margin-left: 0;
        }
      }
    }
  }

  .jumbotron {
   
    .container {
      width: 40%;

      div {
  
        h4 {  
          font-size: 0.9rem;    
        }
      }
    }
  } 

  #menu {
    .menu-title {
     
    }
    .menu-type {
      
      .item-img {
        height: 40%;
      }
       
      .item-info {
        margin-left: 0;
        margin-top: 0.25rem;
        height: 60%;
    
        .item-name {
          text-align: center;
          justify-content: space-between;
  
          button {
            font-size: 0.75rem;
            width: 50%;
            align-self: center;
    
          }

          h4 {
            font-size: 1rem;
          }

          p {
            font-size: 0.75rem;
          }



          .price-div {

            flex-direction: column;

            .store-item-icon {

              order: 2;
            }
          }
        }
      }
    }
  }

  #deals-page {
    height: 110vh;

    .deal-name {
      margin-left: 0;
      text-align: center;
    }
  
    .deal-img {
      height: 35%;
    }
  
    .deal-info {
      align-items: center;
      height: 65%;

      .deal-btn {
        
        button {
          margin-left: 0;
          font-size: 1.1rem;
        }

        .store-item-icon {
          width: 80%;
        }
      }
    }
  }


  #menu {

    .menu-title {
      background-attachment: scroll;
    }
  }

  #create-your-own {
    height: 100vh;
    flex-direction: column;
  
    #create-img {
      height: 20%;
      width: 100%;
      #img-preview {
        height: 100%;
      }
    }
  
    #toppings {
      width: 100%;
      height: 80%;
      margin-top: 1rem;
  
      #topping-types {
        height: 90%;
        margin-top: 1rem;
  
        fieldset {

          .pizza-options {

            label {
              margin-right: 1rem;
              min-width: 5%;
            }
          }
        }
      }
    }
  }

  #nav {
  
    .navbar {
  
      form {
        display: flex;
        width: 100%;
        justify-content: flex-start;

      }
    }
  }

  #create-your-own {
    min-height: 110vh;
    #toppings {

      #topping-types {
    
        .topping-type {
    
          .toppings {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            margin-bottom: 5rem;
          }
        }
      }
    }
  }

  .modal-dialog {
    max-width: 800px;
  }
}


@media screen and (max-width: 800px) {
  header {

    #sign-up{
      width: 50% !important;
      a{
        font-size: 1rem !important;
      }
    }

    .logo {
      width: 20% !important;
    }
  }

  #deals-preview {
    grid-gap: 1rem;
    height: 40vh;

    .deal-img {
      height: 30%;
    }

    .deal-name {
      
      h4 {
        font-size: 1rem;
      }

      p{
        font-size: 0.75rem;
      }
      
    }

    .deal-info {
      height: 70%;
      .deal-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
      }
      
      .deal-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        button {
          margin-bottom: 0.5rem;
          margin-left: 0;
        }
      }
    }
  }

  #menus-preview {

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "menu1 menu2"
    "menu3 menu4"
    "menu5 menu6";

    h3 {
      font-size: 1rem;
    }
  }

  .jumbotron {
   
    .container {
      width: 45%;
  
      div {
  
        h4 {  
          font-size: 0.9rem;    
        }
      }
    }
  } 


  #menu {
    .menu-title {
     
    }
    .menu-type {
      
      .item-img {
        height: 40%;
      }
       
      .item-info {
        margin-left: 0;
        height: 60%;

    
        .item-name {
          text-align: center;
          justify-content: space-between;
          height: 100%;

          .price-div {

            h5 {
              font-size: 1rem;
            }
          }
  
          button {
            font-size: 0.75rem;
            width: 75%;
            align-self: center;
          }

          h4 {
            font-size: 0.98rem;
          }

          p {
            font-size: 0.7rem;
          }
        }
      }
    }
  }

  #deals-page {
    height: 150vh;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
      "deal1 deal2"
      "deal3 deal4"
      "deal5 deal6";

    #deal4 {
      grid-area: deal4;  
    }
  
    #deal5 {
      grid-area: deal5;  
    }
  
    #deal6 {
      grid-area: deal6;  
    }
  
    .deal-name {

      p {
        font-size: 0.75rem;
      }

      h4 {
        font-size: 1.25rem;
      }
    }
  
    .deal-img {
      height: 35%;
    }
  
    .deal-info {
      height: 65%;
  
      .deal-btn {
        width: 100%;
        display: flex;
        justify-content: center;

        button {
          width: 50%;
          font-size: 1rem;
        }
      }
    }
  }

  #create-your-own {
    min-height: 110vh;
    #toppings {

      #topping-types {
        height: 90%;
        margin-top: 1rem;
    
        .topping-type {
    
          .toppings {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
          }
        }
      }
    }
  }

  #next-step {
  
    div {
      width: 100%;
    }
  }

  #title {
    #topping-list {
      grid-template-columns: repeat(4, 1fr);   
    }
  }

  .modal-dialog {
    max-width: 600px;
  }

  .modal-body {
    #payment-info {
      grid-template-areas:
      "header header header"
      "name  name name"
      "number number number"
      "month year cvv"
      "accepted accepted accepted";
    }

    .error {
      border: 1px solid red;
    }

    #cc-cvv-error {
      font-size: 0.6rem;
    }

    .validation-error {
      display: none;
      font-size: 0.65rem;
      color: red;
    }
  }
}


@media screen and (max-width: 600px) {
  #deals-preview {
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "deal1"
    "deal2"
    "deal3";

    .deal-img {
      height: 30%;
    }

    .deal-info {
      align-items: center;
      text-align: center;
      height: 70%;

      .deal-name {
        margin-left: 0;
      }

      .deal-btn {
        button {
          font-size: 0.75rem;
          margin: 0;
          margin-bottom: 0.5rem;
          a {
            margin: 0 auto;
            text-align: center;
          }
        }
      }
    }
  }

  #menus {

    h3 {
      margin-top: 0.5rem;
    }
  }

  .jumbotron {
   
    .container {
      width: 50%;
    }
  } 

  #sign-up{
    width: 50% !important;
    a{
      font-size: 1rem !important;
    }
  }

  .logo {
    width: 10% !important;
  }

  #menu {
    .menu-title { 
      .title {

        h1 {
          font-size: 3rem;
        }
      }
      
    }
  
    .menu-type {
      min-height: 125vh;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr 1fr;
      grid-auto-flow: row;
      grid-auto-rows: 1fr;

      .item-img {
        height: 40%;
      }
  
  
      .item-info {
        display: flex;
        align-items: center;
    
        .item-name {
          
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 100%;
          justify-content: space-between;
  
          button {
            font-size: 0.61rem;
          }

          h4 {
            font-size: 0.8rem;
          }

          p {
            font-size: 0.75rem;
          }

          .item-desc {

            select {
              width: 75%;
            }
          }
        }
      }
    }

    #sandwich-menu {

      #sandwich-title {
      
       
        h1 {
          font-size: 2.5rem;
          width: 100%;
        }
      }
    }

    #pizza-type {
      grid-template-areas: 
      "pizza1 pizza2"
      "pizza3 pizza4";
    }

    #wing-type {
      grid-template-areas: 
      "wing1 wing2"
      "wing3 wing4";
    }

    #sandwich-type {
      grid-template-areas: 
      "sandwich1 sandwich2"
      "sandwich3 sandwich4"; 
    }

    #side-type {
      grid-template-areas: 
      "side1 side2"
      "side3 side4"; 
    }

    #dessert-type {
      grid-template-areas: 
      "dessert1 dessert2"
      "dessert3 dessert4"; 
    }

    #drink-type {
      grid-template-areas: 
      "drink1 drink2"
      "drink3 drink4"; 
    }
  }
  

  #deals-page {
    height: 250vh;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "deal1"
      "deal2"
      "deal3"
      "deal4"
      "deal5"
      "deal6";

    .deal-img {
      height: 30%;
    }
  
    .deal-info {
      height: 70%;
      align-items: center;
  
      .deal-btn {  

        button {
          font-size: 1rem;
          width: 75%;

        }
      }
    }
  }

  .right-arrow {
    display: none;
  }

  .left-arrow {
    display: none;
  }

  #title {
  
    h1 {
      font-size: 1.8rem;
    }
  }

  #create-your-own {
    height: 125vh;
    flex-direction: column;
  
    #create-img {
      height: 20%;
      width: 100%;
      #img-preview {
        height: 100%;
      }
    }
  
    #toppings {
      width: 100%;
      height: 80%;
      margin-top: 1rem;

      #topping-header {

        #steps {

          li {
            font-size: 0.66rem;
          }
        }
      }
  
      #topping-types {
        height: 90%;
        margin-top: 1rem;

        .topping-type {

          .toppings {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-auto-rows: 1fr;
            margin-bottom: 10rem;
          }
        }
  
        fieldset {

          legend {
            font-size: 1.2rem;
          }

          .pizza-options {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 5px 10px;
            margin-bottom: 1.5rem;
            height: 100%;

            &:nth-of-type(1) {
              grid-template-rows: 1fr;
            }

            label {
              margin-right: 0.75rem;
              width: 100%;
              font-size: 0.85rem;
            }

            label[for="crust-3"] {
              font-size: 0.6rem;
            }

            label[for="bake-2"] {
              font-size: 0.6rem;
            }
          }
        }
      }
    }
  }

  #next-step {
  
    button {
     width: 50%;
    }
  }

  #title {
    #topping-list {
      grid-template-columns: repeat(2, 1fr);   
    }
  }

  .modal-dialog {
    max-width: 400px;
    
    .modal-content {
      height: 700px;
    }
  }

  .modal-body {
    #personal-info {
      height: 75%;
      #payment-info {
        width: 50%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "header header header"
        "name number number"
        "month month year"
        "cvv accepted accepted";
        grid-gap: 10px;
        margin-bottom: 1rem;
        margin-right: 1rem;
      }
    }
  }
}

@media screen and (max-width: 400px) {

  #deals-preview { 
    height: 100vh;

    .deal-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem 0.5rem 0 0;
    }

    button {
      font-size: 0.25rem;
    }
  }

  #menus-preview {

    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 100px);
    grid-template-areas: 
    "menu1"
    "menu2"
    "menu3"
    "menu4"
    "menu5"
    "menu6";

    h3 {
      font-size: 1rem;
    }
  }

  .jumbotron {
   
    .container {
      width: 75%;

      div {
  
        h4 {  
          font-size: 0.9rem;    
        }
      }
    }
  } 

  #sign-up{
    width: 50% !important;
  }

  #deals-page {

    .deal-img {
    }
  
    .deal-info {

      .deal-name {
        h4 {
          font-size: 1.25rem;
        }
      }
  
      .deal-btn {  

        button {
          font-size: 1rem;
          width: 75%;

        }
      }
    }
  }

  #menu {
    .menu-title { 
      h1 {
      }
    }
  
    .menu-type {
      min-height: 250vh;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-auto-flow: row;
      grid-auto-rows: 1fr;
      margin-bottom: 1rem;
    
      .item-img {
        height: 40%;
      }
  
  
      .item-info {
        display: flex;
        align-items: center;
        margin-top: 0;
    
        .item-name {
          
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 100%;
          justify-content: space-around;
          align-items: center;

          .item-desc {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            height: 50%;

            select {
              margin-top: 2rem;
              margin-bottom: 1rem;
            }
          }
  
          button {
            font-size: 1rem;
            width: 65%;
          }

          h4 {
            font-size: 1rem;
            margin-bottom: 0;
          }

          p {
            font-size: 0.85rem;
            margin-bottom: 0;
          }
        }
      }
    }

    #pizza-type {
      grid-template-areas: 
      "pizza1"
      "pizza2"
      "pizza3" 
      "pizza4";
    }

    #wing-type {
      grid-template-areas: 
      "wing1"
      "wing2"
      "wing3" 
      "wing4";
    }

    #sandwich-type {
      grid-template-areas: 
      "sandwich1"
      "sandwich2"
      "sandwich3" 
      "sandwich4";
    }

    #side-type {
      grid-template-areas: 
      "side1"
      "side2"
      "side3" 
      "side4";
    }

    #dessert-type {
      grid-template-areas: 
      "dessert1"
      "dessert2"
      "dessert3" 
      "dessert4";
    }

    #drink-type {
      grid-template-areas: 
      "drink1"
      "drink2"
      "drink3" 
      "drink4";
    }
  }

  #title {
  
    h1 {
      font-size: 1.2rem;
    }
  }

  #create-your-own {
    height: 100vh;
    flex-direction: column;
  
    #create-img {
      height: 20%;
      width: 100%;
      #img-preview {
        height: 100%;
      }
    }
  
    #toppings {
      width: 100%;
      height: 80%;
      margin-top: 1rem;

      #topping-header {

        #steps {

          li {
            font-size: 0.66rem;

            &:first-of-type {
              font-size: 0.5rem;
            }
          }
        }
      }
  
      #topping-types {
        height: 90%;
        margin-top: 1rem;
  
        fieldset {

          legend {
            font-size: 1rem;
          }

          .pizza-options {

            label {
              margin-right: 0.5rem;
              min-width: 10%;
              font-size: 0.7rem;
            }

            label[for="crust-3"] {
              font-size: 0.6rem;
            }
          }
        }
      }
    }
  }

  .modal-dialog {
    max-width: 400px;
    
    .modal-content {
      height: 800px;
    }
  }

  .modal-body {
    #personal-info {
      height: 75%;
      #payment-info {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(auto, 1fr);
        grid-template-areas:
        "header header"
        "name name"
        "number number"
        "month month"
        "cvv year"
        "accepted accepted";
      }

      #address {
        width: 50%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto, 1fr);
        grid-template-areas:
        "header"
        "fullname"
        "email" 
        "street"
        "city"
        "state"
        "zip";
        grid-gap: 10px;
        padding-right: 1rem;
        padding-left: 1rem;
        border-right: 1px solid #e9ecef;
        padding-bottom: 1rem;
      }
    }
  }
}


@media screen and (max-height: 750px) {
  #deals-preview {
    grid-gap: 1rem;

    .deal-name {
      
      h4 {
        font-size: 1rem;
      }

      p{
        font-size: 0.75rem;
      }
      
    }

    .deal-info {
      
      .deal-btn {

        display: flex;
        align-items: center;
        button {
          margin-bottom: 0.5rem;
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (max-height: 600px) {

  #deals-page {

    .deal-img {
      height: 30%;
    }
  
    .deal-info {
      height: 70%;
    
      .deal-btn { 

        width: 100%;
        display: flex;
        justify-content: center;
        button {
          font-size: 1rem;
          width: 75%;

        }
      }
    }
  }

  #menu {

    .item-img {
      height: 35%;
    }
    
    .item-info {
      height: 65%;
    }
    
    .item-name {
      h4 {
        font-size: 1rem;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }
}

@media  screen and  (max-height: 650px)  {
  @media  screen and  (max-width: 1000px)  {
  

    #deals-page {

      .deal-img {
        height: 30%;
      }
    
      .deal-info {
        height: 70%;

        .deal-name {
          h4 {
            font-size: 1rem;
          }
        }
      
        .deal-btn { 
          width: 100%;

          button {
            font-size: 0.75rem;
            width: 75%;
  
          }
        }
      }
    }

    #menu {

      .menu-type {
        .item-img {
          height: 20%;
        }
        
        .item-info {
          height: 80%;
        }
        
        .item-name {
          h4 {
            font-size: 0.85rem !important;
          }
    
          p {
            font-size: 0.9rem;
          }

          button {
            width: 75% !important;
          }
        }
      } 
    }   
  }
}

@media  screen and  (max-height: 700px)  {
  @media  screen and  (max-width: 400px)  {
  

    #deals-page {

      .deal-img {
        height: 30%;
      }
    
      .deal-info {
        height: 70%;

        .deal-name {
          h4 {
            font-size: 1rem;
          }
        }
      
        .deal-btn { 
          width: 100%;

          button {
            font-size: 0.75rem;
            width: 75%;
  
          }
        }
      }
    }

    #menu {

      .menu-type {
        .item-img {
            height: 30%;
        }
        
        .item-info {
          height: 70%;
        }
        
        .item-name {
          h4 {
            font-size: 1.2rem !important;
          }
    
          p {
            font-size: 1rem !important; 
          }
        }
      } 
    }   
  }
}